body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4e9dc;
}

.container {
  margin-top: 50px;
}

input,
button {
  padding: 10px;
  margin: 10px;
}

#qr-container {
  margin-top: 20px;
}
